/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*= require social-share-button
 */



body {
  background-color: white;
}

@font-face {
  font-family: "Traveling Typewriter";
  src: url("font/TravelingTypewriter.ttf");
  font-weight: normal;
    font-style: normal; }

@font-face {
  font-family: "Segoe UI";
  src: url("font/segoeui.ttf");
   font-weight: normal;
    font-style: normal; }
@font-face {
  font-family: "Century Schoolbook";
  src: url("font/CENSCBK.TTF");
  font-weight: normal;
    font-style: normal; }
@font-face {
  font-family: "Impact";
  src: url("font/impact.ttf");
  font-weight: normal;
    font-style: normal; }
@font-face {
  font-family: "Haettenschweiler";
  src: url("font/HATTEN.TTF");
  font-weight: normal;
    font-style: normal; }

h1,h2,h3,h4,h5,p {
  color: black;
  
}

img {
  max-width: 100%;
  max-height: auto;
}
#headline{
  font-family: "Haettenschweiler", sans-serif;
  
}
#navbar{
  font-family: "Segoe UI", sans-serif;
  
  
  
}
#entries{
  font-family: "Century Schoolbook", serif;
  font-size: 18px;
  
}
#datetime{
  font-family: "Traveling_Typewriter", serif;
  color: grey;
}

#titlebar{
  color: #99ff00;
  text-align: center;
  background-color:#202020;
  margin-bottom: 0;
  margin-top: 0;
}


/*Changes color of pagination-footer-thingy*/
nav.pagination {
  background-color: rgba(97,97,97,1);
}

/*This and the next selector change the footer to be sticking to the bottom of the page, if there is almost no content on the page*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#footertext{
  font-family: "Segoe UI", sans-serif;
}


