/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

@import "materialize";

body {
  background-color: white;
}

/*@font-face {
  font-family: "Traveling Typewriter";
  src: url("TravelingTypewriter.ttf");
  font-weight: normal;
    font-style: normal; }

@font-face {
  font-family: "Segoe UI";
  src: url("segoeui.ttf");
   font-weight: normal;
    font-style: normal; }
@font-face {
  font-family: "Century Schoolbook";
  src: url("CENSCBK.TTF");
  font-weight: normal;
    font-style: normal; }
@font-face {
  font-family: "Impact";
  src: url("impact.ttf");
  font-weight: normal;
    font-style: normal; }
@font-face {
  font-family: "Haettenschweiler";
  src: url("HATTEN.TTF");
  font-weight: normal;
    font-style: normal; }*/

@font-face {
  font-family: "JosefinSans-thins";
  src: url("JosefinSans-thin.ttf");
  font-weight: normal;
  font-style: normal; 
  }

h1,h2,h3,h4,h5,p {
  color: black;
  
}

img {
  max-width: 100%;
  max-height: auto;
}

.page-heading {
  color: #00838f;
}

ul#nav-mobile.left.hide-on-med-and-down {
  margin-left: 30px;
}

/*#headline{
  font-family: "Haettenschweiler", sans-serif;
}*/

/*#navbar{
  font-family: "Segoe UI", sans-serif;   
}

#entries{
  font-family: "Century Schoolbook", serif;
  font-size: 18px;  
}

.entries{
  font-family: "Century Schoolbook", serif;
  font-size: 18px;  
}

#datetime{
  font-family: "Traveling_Typewriter", serif;
  color: grey;
}

#titlebar{
  color: #99ff00;
  text-align: center;
  background-color:#707070;
  margin-bottom: 0;
  margin-top: 0;
}


/*Changes color of pagination-footer-thingy*/
nav.pagination {
  background-color: #00838f;
}

/*This and the next selector change the footer to be sticking to the bottom of the page, if there is almost no content on the page*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#footertext{
  font-family: "Segoe UI", sans-serif;
}
#logo {
  color: #007923;
}
#readmore{
  color: orange;
  font-size:20px;
  font-family: "Century Schoolbook", serif;
 
}

.padding-left-15px {
  padding-left: 15px;
}

input#search {
  line-height: 30px;
  background-color: #00acc1;
  font-size: 15px;
}

.brand-logo {
  margin-right: 37.25px;
  margin-top: 2px;
}

.input-field {
  padding-left: 5px;
}

.btn-flat {
  margin-bottom: 0;
}

.read-more-button {
  padding-left: 0;
}

.add-15px-to-left-margin {
  margin-left: 15px;
}

.make-italic {
  font-style: italic;
}

.format-entries > h1 {
  font-size: 28px;
}

.format-entries > h2 {
  font-size: 25px;
}

.format-entries > h3 {
  font-size: 23px;
}

.format-entries > h4 {
  font-size: 20px;
}

.format-entries > h5 {
  font-style: 18px;
  font-weight: bold;
}

.format-entries > h6 {
  font-size: 18px;
  font-size: italic;
}

nav.pagination {
  width: 205px;
  padding-left: 20px;
}



